
#wrapper {
	max-width: 50%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}


canvas {
	width: 8em;
	height: 8em;
	border-style: solid;
	border-width: 1px;
}

.firstBoxInRow {
	   clear: both;
	   /*background-color: #FFFF00;*/
}

p {
	margin: 0px;
}
